<header id="header">
  <div class="container d-flex align-items-center">
    <a href="index.html" class="logo me-auto"><img src="assets/img/white-logo.png" width="200" alt="" class="img-fluid"></a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link active" href="about-us.html">About Us</a></li>
        <li><a class="nav-link" href="why-us.html">Why Us</a></li>
        <li><a class="nav-link" href="opportunities.html">Opportunities</a></li>
        <li><a class="nav-link" href="working-modal.html">Working Modal</a></li>
        <li><a class="nav-link" href="our-services.html">Our Services</a></li>
        <li><a class="nav-link" href="faqs.html">FAQ's</a></li>
        <li><a class="nav-link-btn" href="register.html">Register</a></li>
        <li><a class="nav-link-btn ms-3" href="login.html">Login</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
