/**
* Website Name: Reemooz
Design & Developed By: Shrikant Gadkar (Fusion Informatics Pvt.Ltd)
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap');

body {
  font-family: "Inter", sans-serif;
  color: #111513;
}

a {
  color: #0077DC;
  text-decoration: none;
}

a:hover {
  color: #0077DC;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

.p-8 {
  font-size: 8px !important;
}

.p-13 {
  font-size: 13px !important;
}

.p-18 {
  font-size: 18px !important;
}

.p-22 {
  font-size: 22px !important;
}

.Heading-h1 {
  font-size: 64px;
}

.Heading-h2 {
  font-size: 36px;
}

.Heading-h3 {
  font-size: 26px;
}

.EventTitle {
  font-size: 26px;
}

.h-2 {
  font-size: 2.75rem;
  font-weight: 600;
}

.bg-primary {
  background-color: #0077DC !important;
}

.desktop-right {
  text-align: right;
}

.desktop-pt200 {
  padding-top: 200px;
}

.text-theme {
  color: #0077DC;
}

.display-block {
  display: block;
}

.body-top87 {
  padding-top: 87px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #0077DC;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #0077DC;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0px;
  background-color: #252525;
  box-shadow: 0 4px 10px rgba(4, 13, 41, 0.05);
  position: fixed;
  width: 100%;
  top: 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background-color: #252525;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 84px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #FFF;
  white-space: nowrap;
  transition: 0.3s;
  z-index: 1;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #37A3FF;
}

.navbar a::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 32%;
  transform: translateY(-50%);
  background-image: url(../img/menu-ball.svg);
  width: 42px;
  height: 42px;
  background-size: contain;
  z-index: -1;
  transition: all 0.3s;
  opacity: 0;
}

.navbar a.active::before {
  opacity: 1;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  border: 2px solid #25380e;
  background-color: #25380e;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #25380e;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: -66px;
  /* top: calc(100% + 30px); */
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
  top: 66px !important;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #0077DC;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  /* top: 0; */
  top: -10px !important;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #FFF;
  font-size: 44px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(37, 56, 14, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #111513;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #0077DC;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  color: #FFF;
  text-align: center;
  justify-content: center;
  padding: 20px;

}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #0077DC;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
  visibility: visible !important;
}

.nav-link-btn {
  background: #FFF;
  color: #000 !important;
  border-radius: 100px;
}

.login-avtar {
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 100px;
  margin-right: 10px;
}

.login-avtar img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 100px;
}

.avtar32 {
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 100px;
  margin-right: 10px;
}

.avtar32 img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 100px;
}

/*==========================================
Button Styling
============================================*/
.btn-primary {
  background-color: #0077DC;
  color: #FFF;
  border-radius: 6px;
  padding: 12px 30px;
  border-color: #0077DC;
  font-weight: 400;
}

.btn-primary:hover,
.btn-primary.active {
  background-color: #0077DC;
  color: #FFF;
  border-color: #0077DC;
}

.btn-primarysm {
  background-color: #0077DC;
  color: #FFF;
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
  border-color: #0077DC;
  font-weight: 400;
  font-size: 0.875rem;
}

.btn-primarysm:hover,
.btn-primarysm.active {
  background-color: #0077DC;
  color: #FFF;
  border-color: #0077DC;
}


.btn-white {
  background-color: #FFF;
  color: #000;
  border-radius: 50px;
  padding: 15px 30px;
  border-color: #FFF;
  font-weight: 400;
}

.btn-white:hover,
.btn-white.active {
  background-color: #FFF;
  color: #000;
  border-color: #FFF;
}


.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #B7B7B7;
  --bs-btn-border-color: #B7B7B7;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5c636a;
  --bs-btn-hover-border-color: #565e64;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #565e64;
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #B7B7B7;
  --bs-btn-disabled-border-color: #B7B7B7;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2DAE00;
  --bs-btn-border-color: #2DAE00;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2DAE00;
  --bs-btn-hover-border-color: #2DAE00;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2DAE00;
  --bs-btn-active-border-color: #2DAE00;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #2DAE00;
  --bs-btn-disabled-border-color: #2DAE00;
  border-radius: 6px;
  padding: 12px 30px;
}

.box-shadow {
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.bosTeam-wrapper {
  position: absolute;
  bottom: 0;
}

.section-primary {
  background-color: #0077DC;
  color: #FFF;
}

.eligibility-critearea-section {
  background-image: url(../img/eligibility-critearea-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  min-height: 250px;
  color: #FFF;
}

.HeadingTitle {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 15px;
}

.HeadingTitle2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

.border-title {
  display: block;
  height: 2px;
  background: #000;
  position: relative;
}

.border-title .title {
  margin: auto;
  display: inline-block;
  background: #FFF;
  position: absolute;
  top: -18px;
  left: 40%;
  padding: 0 30px;
}

/*-------------------------------------------------------
Form Control CSS
---------------------------------------------------------*/
.form-group {
  margin-bottom: 15px;
  position: relative;
}

.form-group label {
  margin-bottom: 5px;
}

.form-control {
  padding: .75rem .75rem;
}

.form-select {
  padding: .75rem .75rem;
}

.form-group .input-icon {
  position: absolute;
  left: 15px;
  top: 15px;
}

.control-search {
  border-radius: 32px;
  background-color: #D9D9D9;
  padding-left: 40px;
}

.profile-avtar {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin: auto;
  margin-bottom: 15px;
  position: relative;
}

.profile-avtar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.input--file {
  right: 0;
  position: absolute;
  color: #1b1b1b;
  bottom: 10px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background: #ebebeb;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;

}

.input--file input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 32px;
  cursor: pointer;
}

/*------------------------------------------------------------
Hero Slider section
------------------------------------------------------------*/
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 730px;
}

.carousel-item {
  height: 768px;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-inner .ovrlay-bakground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.carousel-inner .carousel-caption {
  position: absolute;
  right: 15%;
  top: 32%;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  z-index: 1;
}

/*--------------------------------------------------------------
# Card Styling
--------------------------------------------------------------*/
.team-card {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.team-member-photo {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid #000;
  margin: auto;
  margin-bottom: 30px;
}

.team-member-photo img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.card-border {
  display: block;
  border: 1px solid #000000;
}

.padding30 {
  padding: 30px;
}

.price-card {
  display: block;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  min-height: 490px;
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
.price-card .card-body{
  padding: 2rem;
}
.border-blue{
  border-top: 10px solid #0068C8;
}
.border-silver{
  border-top: 10px solid #D4D4D4;
}
.border-gold{
  border-top: 10px solid #FFCD4D;
}
.price-card .title{
  font-size: 46px;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
}
.blue-gradient{
  background: #0068C8;
background: linear-gradient(to top, #0068C8 0%, #1B87EB 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: "Koh Santepheap", serif;
text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
-webkit-background-clip: text;
   -moz-background-clip: text;
        background-clip: text;
}
.silver-gradient{
  background: #6C6C6C;
background: linear-gradient(to top right, #6C6C6C 0%, #B0B0B0 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: "Koh Santepheap", serif; 
text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
-webkit-background-clip: text;
   -moz-background-clip: text;
        background-clip: text;
}
.gold-gradient{
  background: #EAA834;
background: linear-gradient(to top right, #EAA834 0%, #FFCD4D 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: "Koh Santepheap", serif; 
text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
-webkit-background-clip: text;
   -moz-background-clip: text;
        background-clip: text;
}
.platinum-gradient{
  background: #B8B8B8;
background: linear-gradient(to top right, #B8B8B8 0%, #C1C1C1 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: "Koh Santepheap", serif; 
text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
-webkit-background-clip: text;
   -moz-background-clip: text;
        background-clip: text;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: #424242;
  color: #FFF;
  padding: 60px 0;
}

ul.footernav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.footernav li {
  display: block;
}

ul.footernav a {
  display: block;
  padding: 5px 0;
  color: #FFFF;
}

ul.social-media {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.social-media li {
  display: inline-block;
}

ul.social-media li a {
  display: block;
  padding: 5px;
  color: #FFF;
  font-size: 1.2rem;
}

.live-chat-buttons {
  width: 100px;
  height: 190px;
  background-color: #FFFFFF;
  border-radius: 10px 0px 0px 10px;
  position: fixed;
  right: 0;
  bottom: 50px;
  z-index: 100;
}

.live-chat-buttons a {
  display: block;
  padding: 15px;
  text-align: center;
  color: #000;
}

.live-chat-buttons a img {
  margin-bottom: 5px;
}
/*-----------------------------------------
Tabs styling
-----------------------------------------*/
ul.nav-listtab{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.nav-listtab li{
  display: inline-block;
}
ul.nav-listtab li a{
  padding: 1rem 0.8rem;
  font-size: 14px;
  border: none;
  color: #000;
  text-decoration: underline;
}
.nav-tabs{
  border: none;
}

ul.nav-listtab li a.active{
  color: #0077DC;
}
ul.ListMenu{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.ListMenu li{
  display: block;
  margin-bottom: 15px;
}
ul.ListMenu li a{
  display: block;
 padding: 15px;
 text-align: center;
 color: #000;
 background: rgb(230,244,255);
 background: linear-gradient(0deg, rgba(230,244,255,1) 0%, rgba(206,233,255,1) 100%);
}
ul.ListMenu li a span{
 color: #0077DC;
}

ul.ListMenu2{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.ListMenu2 li{
  display: block;
  margin-bottom: 15px;
}
ul.ListMenu2 li a{
  display: block;
 padding: 15px;
 text-align: center;
 color: #FFF;
 background: rgb(91,176,255);
background: linear-gradient(0deg, rgba(91,176,255,1) 0%, rgba(0,104,200,1) 100%);
border-radius: 50px;
}
ul.faqsQuestionList{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.faqsQuestionList li{
  display: block;
  margin-bottom: 15px;
}
ul.faqsQuestionList li .text-theme{
  font-weight: 600;
}
/*==========================================
Media Query CSS
==========================================*/

@media (max-width: 768px) {

  .navbar a,
  .navbar a:focus {
    justify-content: start;
  }

  .carousel-inner {
    height: 350px;
  }

  .carousel-item {
    height: 350px;
  }

  .carousel-inner .carousel-caption {
    top: 30%;
  }

  .carousel-inner .carousel-caption h5 {
    font-size: 12px;
  }

  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }

  #footer .credits {
    padding-top: 4px;
  }

  .desktop-right {
    text-align: left;
  }

  .navbar a::before {
    right: auto;
    top: 37%;
    left: 22px;
  }

  .page-header .page-title {
    padding-top: 30;
  }

  .HeadingTitle {
    font-size: 30px;
  }

  .HeadingTitle2 {
    font-size: 26px;
  }

  .mob-mb1 {
    margin-bottom: 1rem;
  }
}