<main id="main">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 text-end">
          <a routerLink="/faq" class="btn btn-small btn-primary">Back</a>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h1 class="HeadingTitle text-theme mb-5">FAQ’s - Cost and Pricing</h1>
          <ul class="faqsQuestionList">
            <li>
              <div class="text-theme">1.  What are the different subscription packages offered by Westgate, and what do they include?</div>
              <div>
                <p>
                  Westgate offers Basic, Silver, Gold, and Platinum subscription packages, each with varying levels of services and benefits.
                </p>
              </div>
            </li>
            <li>
              <div class="text-theme">2. What is included in the Basic subscription package, and how much does it cost?</div>
              <div>
                <p>
                  The Basic package grants full access to project listings and supplier resources, including feasibility study services, for an annual fee of 149,999 INR.
                </p>
              </div>
            </li>
            <li>
              <div class="text-theme">3. How does the Silver subscription package differ from the Basic package, and what is the cost?</div>
              <div>
                <p>
                  The Silver package includes bid review services by the UK team for up to 25 projects/year, priced at 399,999 INR annually.
                </p>
              </div>
            </li>
            <li>
              <div class="text-theme">
                4. What is the Gold subscription package, and how is it priced?
              </div>
              <div>
                <p>
                  The Gold package offers on-demand bid review services by UK third-party experts, with upfront payment of 50% of the fee and the remaining 50% after winning the bid.
                </p>
              </div>
            </li>
            <li>
              <div class="text-theme">
                5. How does the Platinum subscription package differ from the Gold package, and what is the pricing structure?
              </div>
              <div>
                <p>
                  The Platinum package provides on-demand bid writing services by UK third-party experts, with the same upfront payment and post-bid payment structure.
                </p>
              </div>
            </li>
            <li>
              <div class="text-theme">6. What payment methods are accepted for subscription fees, and when are they due?</div>
              <div>
                <p>
                  Subscription fees can be paid via bank transfer, credit card, or other accepted methods, with payment due annually upon subscription renewal.
                </p>
              </div>
            </li>
            <li>
              <div class="text-theme">7. How does Westgate ensure transparency in its pricing and billing practices?</div>
              <div>
                <p>
                  Westgate maintains transparency by clearly outlining subscription package details, fees, and payment terms in its pricing and billing information.
                </p>
              </div>
            </li>
            <li>
              <div class="text-theme">
                8. Can Suppliers request a breakdown of fees or an invoice for their subscription package?
              </div>
              <div>
                <p>
                  Yes, Suppliers can request a breakdown of fees or an invoice for their subscription package upon request.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
