<main id="main">
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 col-12">
          <h1 class="HeadingTitle text-theme mb-5">FAQ's</h1>
          <h5>
            Explore commonly asked questions to find answers and gain clarity on
            our services, processes, and offerings. Have a question? Check out
            our FAQ sections for quick solutions.
          </h5>
        </div>
        <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 col-12 text-center">
          <img
            src="./assets/img/faqs-image.png"
            class="img-fluid mb-5"
            alt="wgith about us"
          />
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <ul class="ListMenu2 mt-4">
        <li><a href="faqs-aboutus.html">About Us</a></li>
        <li><a href="">Cost and Pricing</a></li>
        <li><a href="">Legal and Compliance</a></li>
        <li><a href="">Registration Process</a></li>
        <li><a href="">Partnership Opportunities</a></li>
        <li><a href="">Project Management</a></li>
        <li><a href="">Service Offerings</a></li>
        <li><a href="">Supplier Eligibility Criteria</a></li>
        <li><a href="">Support and Account Management</a></li>
      </ul>
    </div>
  </section>
</main>
